@font-face {
	font-family: latoFont;
	src:"{{ url_for('static', filename='assets/Lato/Lato-Regular.ttf') }}";

}

@font-face {
	font-family: merriweatherFont;
	src: "{{ url_for('static', filename='assets/Merriweather/Merriweather-Regular.ttf') }}";
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.mainPage {
	padding-left: 200px;
	padding-right: 200px;
}

.navbar {
	background-color: #001B31
}

.jumbotron {
	padding-left: 20px;
	padding-right: 20px;
	min-height: 450px;
	background-image: url('assets/bgPic.jpg');
	background-size: cover;
	background-position: 0%;
}

.jumbotronOther {
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.jumbotron h1 {
	text-align: center;
	font-family: latoFont;
	color: #222f28;
}

.jumbotronOther h1{
	font-family: latoFont;
	text-align: left;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	font-family: merriweatherFont;
	width: 100%;
	align-content: left;
}

.containerOther {
	padding-left: 20px;
	padding-right: 20px;
	font-family: merriweatherFont;
	width: 100%;
	align-content: left;
	padding-bottom: 50px;
	padding-top: 10px;
}

.container .col-md {
	padding-top: 10px;
	align-content: left;
}

.container h2 {
	font-family: latoFont;
	color: #001B31;
}

ul {
	list-style-type: none;
	background-color: grey;
	font-family: latoFont;
}

li a {
	color: white;
	float: right;
}

.button-row {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	align-content: center;
	align-items: center;
}

.button-row a {
	background-color: #001B31;
	color: white;
	margin: 30px;
	border-radius: 0;
	padding: 20px;
	font-family: latoFont;
	align-self: center;
}

.headerOther {
	padding-bottom: 15px;
}

.bigBioContainer {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
	padding: 10px;
	align-content: center;
	padding-bottom: 50px;
}

.individualBioContainer {
	display: grid;
    grid-template-rows: auto auto;
    grid-gap: 15px;
	padding: 10px;
	align-content: center;
	text-align: center;
}

.bioImage {
	max-width: 300px;
	max-height: 300px;
}

footer {
	font-family: latoFont;
	padding-left: 20px;
	padding-right: 20px;
}