@font-face {
	font-family: latoFont;
	src: url('../static/assets/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: merriweatherFont;
	src: url('../static/assets/Merriweather/Merriweather-Regular.ttf');
}

.top-box {
	background-color:#E0E0E0;
	padding-top: 15px;
}

.large-title-box {
	width: 100%;
	height: 60px;
	padding-left: 15px;
}

.large-title {
	font-family: latoFont;
	float: left;
	margin-left: 185px;
	border-bottom: 1px solid #E0E0E0;
}

body {
	padding-bottom: 20px;
}

.mainPage {
	padding-left: 200px;
	padding-right: 200px;
}

.navbar {
	background-color: #001B31;
}

.navbar ul {
	float: left;
	margin-left: 185px;
}

.jumbotron {
	padding-left: 20px;
	padding-right: 20px;
	min-height: 450px;
	background-image: url('assets/bgPic.jpg');
	background-size: cover;
	background-position: 0%;
}

.jumbotronOther {
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.jumbotron h1 {
	text-align: center;
	font-family: latoFont;
	color: #222f28;
}

.jumbotronOther h1{
	font-family: latoFont;
	text-align: left;
}

.container {
	font-family: merriweatherFont;
	width: 100%;
	align-content: left;
}

.containerOther {
	font-family: merriweatherFont;
	width: 100%;
	align-content: left;
	padding-bottom: 50px;
	padding-top: 10px;
}

.container .col-md {
	padding-top: 10px;
	align-content: left;
}

.container h2 {
	font-family: latoFont;
	color: #001B31;
}

ul {
	list-style-type: none;
	background-color: white;
	font-family: latoFont;
}

li a {
	color: white;
	float: right;
}

.button-row {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	align-content: center;
	align-items: center;
}

.button-row a {
	background-color: #E0E0E0;
	margin: 30px;
	border-radius: 0;
	padding: 20px;
	font-family: latoFont;
	align-self: center;
	color: black;
}

.headerOther {
	padding-bottom: 15px;
}

.bigBioContainer {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
	padding: 10px;
	align-content: center;
	padding-bottom: 50px;
}

.individualBioContainer {
	display: grid;
    grid-template-rows: auto auto;
    grid-gap: 15px;
	padding: 10px;
	align-content: center;
	text-align: center;
}

.bioImage {
	max-width: 300px;
	max-height: 300px;
}

footer {
	font-family: latoFont;
	padding-left: 80px;
	padding-right: 20px;
}
