@font-face {
	font-family: latoFont;
	src: url(../EEEAC/bootstrap-3.3.7/assets/Lato/Lato-Regular.ttf)
}

@font-face {
	font-family: merriweatherFont;
	src: url(../EEEAC/bootstrap-3.3.7/assets/Merriweather/Merriweather-Regular.ttf)
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.mainPage {
	padding-left: 150px;
	padding-right: 150px;
	/* padding-top: 100px; */
}

.navbar {
	/* background-color: #2E424C; */
	background-color: #001B31
	/* background-color: #183144; */
	/* background-color: #3F5E7A; */
	
	/*option2 + bgPic2.png*/
	/* background-color: #222f28; */
}

.jumbotron {
	padding-left: 20px;
	padding-right: 20px;
	min-height: 450px;
	background-image: url(../EEEAC/bootstrap-3.3.7/assets/bgPic.jpg);
	background-size: cover;
	background-position: 0%;
}

.jumbotronOther {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 300px;
}

.jumbotron h1 {
	text-align: center;
	font-family: latoFont;
	color: #222f28;
}

.jumbotronOther h1{
	font-family: latoFont;
	text-align: center;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	font-family: merriweatherFont;
	width: 100%;
	align-content: left;
}

.container .col-md {
	padding: 10px;
	align-content: left;
}

.container h2 {
	font-family: latoFont;
	color: #001B31;
}

ul {
	list-style-type: none;
	background-color: grey;
	font-family: latoFont;
}

li a {
	color: white;
	float: right;
}

.button-row {
	padding-top: 60px;
	padding-bottom: 25px;
	width: 100%;
	align-content: center;
}

.button-row a {
	/* background-color: #001B31; */
	background-color: #001B31;
	color: white;
	margin: 30px;
	border-radius: 0;
	padding: 20px;
	font-family: latoFont;
}