<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--&lt;!&ndash; The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags &ndash;&gt;-->
    <!--<meta name="description" content="mission statement">-->
    <!--<meta name="author" content="E-EEAC">-->
    <!--<link rel="icon" href="../../favicon.ico">-->

    <!--<title>E-EEAC Website - Home</title>-->

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="../../bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
    <!--<link href="./bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!--<link href="E-EEAC.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Just for debugging purposes. Don't actually copy these 2 lines! &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]&ndash;&gt;-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!--&lt;!&ndash; HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
      <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
      <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
  <!--</head>-->

  <!--<body>-->
  <!--&lt;!&ndash; header that should stay constant throughout all pages &ndash;&gt;-->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse">-->
        <!--<ul>-->
          <!--<a class="navbar-brand" href="#">E-EEAC</a>-->
          <!--<li><a class="btn btn-lg" href={{ url_for('contact' )}}  role="button">Contact Us</a></li>-->
          <!--&lt;!&ndash; drop down boxes don't work >:( 1. could be problem with script tags at bottom &ndash;&gt;-->
          <!--<li>-->
            <!--<div class="dropdown">-->
              <!--<a href="#" type="button" class="dropdown-toggle btn btn-lg" date-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li><a href={{ url_for('executiveBoard' )}} role="button">Executive Board</a></li>-->
                  <!--<li><a href={{ url_for('reviewCommittees' )}} role="button">Review Committees</a></li>-->
                <!--</ul>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<div class="dropdown">-->
                <!--<a href="#" type="button" class="dropdown-toggle btn btn-lg" date-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Policy and Procedures</a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li><a href={{ url_for('disclosure' )}} role="button">Disclosure</a></li>-->
                  <!--<li><a href={{ url_for('structure' )}} role="button">Structure</a></li>-->
                <!--</ul>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li><a class="btn btn-lg" href={{ url_for('reports' )}}  role="button">Reports</a></li>-->
          <!--<li><a class="btn btn-lg" href={{ url_for('home' )}}  role="button">Home</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
    <!---->

{% extends "base.html" %}

{% block content %}
    <div class="mainPage">
    <div class="containerOther">
        <div class="jumbotronOther">
                <h1>DISCLOSURE</h1>
                <hr>
        </div>
        <h4 class="headerOther">
            Members of the EC and members of RCs will adhere to the following
            disclosure principles, which are based on those of the American Economics Association
            (AEA):
        </h4>
        <p>
            1. Members should disclose any financial support related to research or other
            activities related to their participation on the EEAC.
            <br><br>
            2. Each EEAC member should identify each interested party from whom he or she has
            received significant financial support, summing to at least $10,000 in the past three
            years, in the form of consultant fees, retainers, grants and the like. The disclosure
            requirement also includes in-kind support, such as providing access to data. If the
            support in question comes with a non-disclosure obligation, that fact should be
            stated, along with as much information as the obligation permits. If there are no
            such sources of funds, that fact should be stated explicitly. An “interested” party is
            any individual, group, or organization that has a financial, ideological, or political
            stake related to EEAC activities.
            <br><br>
            3. Each EEAC member should disclose any paid or unpaid positions as officer, director,
            or board member of relevant non-profit organizations or profit-making entities. A
            “relevant” organization is one whose policy positions, goals, or financial interests
            relate to EEAC activities.
            <br><br>
            4. Each EEAC member should disclosure any relevant testimony before federal and
            state legislative committees and other agencies.
            <br><br>
            5. The disclosures above apply to any close relative or partner or any EEAC member.
            Brief disclosure statements for RC members will be included in RC reviews. More extensive
            disclosure statements will be available by request of the EEAC.
       </p>
    </div>
{% endblock %}

    <!--<hr>-->
        <!--<footer>-->
        <!--<p>External Environmental Economics Advisory Board</p>-->
        <!--</footer>-->
    <!--</div>-->


    <!--&lt;!&ndash; Bootstrap core JavaScript-->
    <!--================================================== &ndash;&gt;-->
    <!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <!--<script src="../../bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>-->
    <!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  <!--</body>-->
<!--</html>-->
