{% extends "base.html" %}

<title>E-EEAC Website - {{ title }}</title>

{% block content %}
    <div class="mainPage animated fadeIn">
      <div class="jumbotron animated fadeIn" style="animation-delay: .25s;">
          <h1>Lorem ipsum dolores</h1>
      </div>

      <div class="container">
        <div class="column">
          <div class="col-md">
            <h2>Who we are</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          </div>
          <div class="col-md">
            <h2>What we do</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        </div>
      </div>

<!-- This is acting weird. needs to be revised
      <div class="button-row text-center">
            <a class="btn btn-rounded" href="{{url_for('reports') }}" role="button">REPORTS</a>
            <a class="btn btn-rounded" href="{{url_for('reviewCommittees')}}" role="button">REVIEW COMMITTEES</a>
            <a class="btn btn-rounded" href="{{url_for('contact')}}" role="button">CONTACT US</a>
      </div> -->
     
    </div>
{% endblock %}
