{% extends "base.html" %}

<title>E-EEAC Website - {{ title }}</title>

{% block content %}
    <div class="mainPage animated fadeIn">
      <div class="jumbotron animated fadeIn" style="animation-delay: .25s;">
          <h1>Dedicated to providing non-partisian research rooted in evidence and expertise.</h1>
      </div>

      <div class="container">
        <div class="column">
          <div class="col-md">
            <h2>Who we are</h2>
            <p>The External Environmental Economics Advisory Committee (E-EEAC) acts as an independent committee dedicated to providing up to date, non-partisan, economic research on environmental issues that pertain to EPA policy. The E-EEAC was established in the wake of the dissolution of the original EEAC, a scientific advisory committee under the Environmental Protection Agency, in June 2018. The members of the E-EEAC believe that, despite the retirement of the internal committee, the results of economic research remain crucial to the process of drafting economically feasible environmental policy.</p>
            <br>
            <p>Like its predecessor, the E-EEAC consists of economists and scientists who use their expertise to analyze the benefits and costs of environmental policy. The goal of the E-EEAC is to operate in this capacity until the EPA is ready to reconstitute an internal economic advisory committee. While the structure of the E-EEAC has changed, the members of this committee are dedicated to ensuring that relevant environmental economic research is readily available to the public on this website</p>
          </div>
        </div>
      </div>

      <div class="button-row text-center">
            <a class="btn btn-rounded bg-light" href="{{url_for('reports') }}" role="button">REPORTS</a>
            <a class="btn btn-rounded bg-light" href="{{url_for('reviewCommittees')}}" role="button">REVIEW COMMITTEES</a>
            <a class="btn btn-rounded bg-light" href="{{url_for('contact')}}" role="button">CONTACT US</a>
      </div>

    </div>
{% endblock %}
