{% extends "base.html" %}

<title>E-EEAC Website - {{ title }}</title>

{% block content %}
<div class="mainPage">
  <div class="containerOther">
    <div class="jumbotronOther">
        <h1>CONTACT US</h1>
        <hr>
    </div>

  <h3>
      Members of the EC and members of RCs will adhere to the following
      disclosure principles, which are based on those of the American Economics Association
      (AEA):<br><br>
  </h3>
  <p>
      1. Members should disclose any financial support related to research or other
      activities related to their participation on the EEAC.<br><br>
      2. Each EEAC member should identify each interested party from whom he or she has
      received significant financial support, summing to at least $10,000 in the past three
      years, in the form of consultant fees, retainers, grants and the like. The disclosure
      requirement also includes in-kind support, such as providing access to data. If the
      support in question comes with a non-disclosure obligation, that fact should be
      stated, along with as much information as the obligation permits. If there are no
      such sources of funds, that fact should be stated explicitly. An “interested” party is
      any individual, group, or organization that has a financial, ideological, or political
      stake related to EEAC activities.<br><br>
      3. Each EEAC member should disclose any paid or unpaid positions as officer, director,
      or board member of relevant non-profit organizations or profit-making entities. A
      “relevant” organization is one whose policy positions, goals, or financial interests
      relate to EEAC activities.<br><br>
      4. Each EEAC member should disclosure any relevant testimony before federal and
      state legislative committees and other agencies.<br><br>
      5. The disclosures above apply to any close relative or partner or any EEAC member.
      Brief disclosure statements for RC members will be included in RC reviews. More extensive
      disclosure statements will be available by request of the EEAC.
  </p>
</div>
</div>
{% endblock %}