{% extends "base.html" %}

<title>E-EEAC Website - {{ title }}</title>

{% block content %}
<div class="mainPage animated fadeIn">
  <div class="containerOther">
    <div class="jumbotronOther">
        <h1>REVIEW COMMITTEES</h1>
        <hr>
    </div>
    <h3 class="headerOther">
        The actual reviews are completed by RCs composed of independent scientists with expertise in relevant research areas:
    </h3>
  <p>
    The EC coordinates the RCs responsible for completing reviews but the RCs have complete autonomy with respect to the content of their reviews. The EC does not have the responsibility to review and/or endorse a final RC report. Terms for RC members vary with the time needed to complete reviews.
  </p>
</div>
</div>
{% endblock %}
