{% extends "base.html" %}

<title>E-EEAC Website - {{ title }}</title>

{% block content %}
<div class="mainPage animated fadeIn">
  <div class="containerOther">
    <div class="jumbotronOther">
        <h1>STRUCTURE</h1>
        <hr>
    </div>
        <h3 class="headerOther">
            The EEAC consists of an Executive Committee (EC), and Review Committees (RC) of various
            sizes on an as-needed basis.
        </h3>
        <p>
            <h5 style="text-align: justify"><b>Report Dissemination</b></h5>
            Upon receiving a completed RC review, the EEAC will publicly
            disseminate the review and submit a copy to the EPA Administrator and other relevant EPA
            staff. RCs are highly encouraged to pursue publication in peer-reviewed outlets such as
            Science Policy Forum, Review of Environmental Economics and Policy. Prior to dissemination,
            final reviews should include the following disclaimer “This report was initiated by the
            Environmental Economics Advisory Committee (EEAC), an organization whose mission is
            to provide independent advice on the state-of-the-science with regard to the benefits, costs,
            and design of EPA’s environmental programs. The views expressed in this paper reflect
            those of the authors.”
            <br><br>
            <h5><b>Funding</b></h5>
            Initial in-kind funding to develop a website will be provided by EC members. The EC may
            pursue additional funds from non-partisan sources to assist with the development and
            dissemination of RC reviews.
            <br><br>
            <h5><b>Guiding Principles</b></h5>
            1. The EEAC will strive to provide EPA with the best available economic science as
            reflected in the current peer-reviewed literature.
            <br>
            2. The EEAC is a non-partisan, apolitical, body.
            <br>
            3. The EEAC's process, membership, and findings will be transparent and accessible to
            the public.
            <br><br>
            <h5><b>Founding Executive Committee members</b></h5>
            Antonio Bento, University of Southern California, abento@price.usc.edu
            <br>
            Dallas Burtraw, Resource for the Future, burtraw@rff.org
            <br>
            J.R. DeShazo, UCLA, deshazo@ucla.edu
            <br>
            Mary Evans, Claremont McKenna College, mevans@cmc.edu
            <br>
            Meredith Fowlie, UC Berkeley, fowlie@berkeley.edu
            <br>
            Kenneth Gillingham, Yale, kenneth.gillingham@yale.edu
            <br>
            Reed Johnson, Duke University, reed.johnson@duke.edu
            <br>
            Matt Kotchen, Yale University, matthew.kotchen@yale.edu
            <br>
            Matt Neidell, Columbia University, mn2191@columbia.edu
            <br>
            Steve Newbold, University of Wyoming, snewbold@uwyo.edu
            <br>
            V. Kerry Smith, Arizona State University, kerry.smith@cavecreekinstitute.com
            <br>
            Rob Stavins, Harvard University, robert_stavins@hks.harvard.edu   
       </p>
    </div>
    </div>
{% endblock %}
